html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}




.login-container {
    min-height: 100vh;
}

.login-left {
    background: url('/images/login-bg.jpg') no-repeat center center;
    background-size: cover;
}

.login-form {
    padding: 3rem;
}

.form-floating input,
.form-floating label {
    color: #333;
}

.form-control {
    border-radius: 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #06b6d4;
    border: none;
}

    .btn-primary:hover {
        background-color: #0891b2;
    }

.login-links a {
    font-size: 0.9rem;
    color: #0d6efd;
    text-decoration: none;
}

    .login-links a:hover {
        text-decoration: underline;
    }

@media (max-width: 767px) {
    .login-form {
        padding: 2rem 1.5rem;
    }
}
.login-form-wrapper {
    background-color: #f2f3f3;
}
.login-body {
    background-color: #f2f3f3; 
}



@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero-img img {
    animation: floatUpDown 3s ease-in-out infinite;
}

.sitename {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 32px; 
    color: var(--heading-color); 
    margin: 0;
}

.navmenu {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: var(--heading-color);
}


/* Gradient background for the main header */
header.header {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(94,174,203,1) 99%) !important;
}
/* Gradient background for the top utility navbar */
.top-utility-bar {
    background: rgb(202,241,245);
    background: linear-gradient(90deg, rgba(202,241,245,1) 0%, rgba(232,229,218,1) 48%, rgba(157,231,251,1) 100%) !important;
}



.text-info.fw-bold {
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
}

